*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
nav
{
    display: grid;
    width:100%;
    grid-template-columns: 0.3fr 1fr 0.8fr;
    grid-template-rows: 1fr;
   
}
.pic1
{
    width:1.5vw;
}
.pic2
{
    width:1.8vw;
}
.pic3
{
    width:1.8vw;
}
.googlepic
{
    display: grid;
    width:8vw;
    margin-left: 2vw;
    margin-top: 2vw;
    grid-column-start: 1;
    grid-column-end: 2;

   
}
.setting
{
    
    height:1.5vw;
    
}
.icon
{
   
    height:1.5vw;
   
}
.button
{
 
    width:4vw;
    border-radius: 4px;
    height: 2vw;
    font-size: 1vw;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
   
}
.search
{
    display: grid;
    width:50vw;
    height:3vw;
    border-radius: 24px;
    border: 0.5px solid transparent;
    box-shadow: 0 2px 5px 1px rgba( 64,60,67,0.16);
    margin-left: 6vw;
    margin-top: 2vw;
    grid-column-start: 2;
    grid-column-end: 3;

}
.navend
{
    display: flex;
    
    justify-content: end;
    gap: 0.8vw;
    margin-right: 0.8vw;
    margin-top: 2vw;
    align-items: center;
    grid-column-start: 4;
    grid-column-end: 5;
    flex-direction: row;
   
    
   
    
}
.itm
{
    display: flex;
    justify-content: end;
    margin-top: -2.5vw;
    align-items: center;
    margin-right: 1vw;
    gap:0.5vw;
}




.nav2
{
    display: flex;
   flex-direction: row;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   color:#70757a;
   border-bottom: 0.7px solid #70757a;
   height:2.5vw;
   margin-top: 2vw;
}
.navicon
{
display: flex;
margin-left: 2vw;

}
.navicon1
{
display: flex;
margin-left: 16vw;

}

.navicontoll
{
display: flex;
justify-content: end;
width:23vw;

}
.naviconend
{
display: flex;
justify-content: end;
width:30vw;


}


@media (max-width:600px)
{
    *
    {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
    nav
    {
        display: flex;
        width:100%;
       
       
    }
    .pic1
    {
        width:1.5vh;
    }
    .pic2
    {
        width:1.8vh;
    }
    .pic3
    {
        width:1.8vh;
    }
    .googlepic
    {
        display: flex;
        /* width:100%; */
        width:8vh;
        /* margin-left: 2vh;
        margin-top: 2vh; */
        justify-content: center;
        align-items: center;
   
    }

    /* .img
    {
        display: flex;
        width:100%;
        
       
    }
     */
    .setting
    {
        
        height:1.5vh;
        visibility: hidden;
        
    }
    .icon
    {
       
        height:1.5vh;
        visibility: hidden;
       
    }
    .button
    {
      
        width:4vh;
        border-radius: 4px;
        height: 2vh;
        font-size: 1vh;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: -6vh;
        margin-right: -10vh;

       
    }
    .search
    {
        display: flex;
        width:30vh;
        height:3vh;
        border-radius: 24px;
        border: 0.5px solid transparent;
        box-shadow: 0 2px 5px 1px rgba( 64,60,67,0.16);
        margin-left: 4vh;
        margin-top: 6vh;
       flex-wrap: wrap;
       
    
    }
    .navend
    {
        display: flex;
        justify-content: end;
        gap: 0.8vh;
        margin-right: 0.8vh;
        margin-top: 2vh;
        align-items: center;
        
        
       
        
    }
    .itm
    {
        display: flex;
        justify-content: end;
        margin-top: -2.5vh;
        align-items: center;
        margin-right: 1vh;
        gap:0.5vh;
        /* visibility: hidden; */
    }

    .nav2
{
    display: flex;
   flex-direction: row;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   color:#70757a;
   border-bottom: 0.7px solid #70757a;
   height:3vh;
   margin-top: 2vh;
   justify-content:space-between;
   padding-left: 2vh;
   
   
}
.navicon
{
display: flex;
width:20vh;
justify-content: center;

}
/* .navicon1
{
display: flex;
margin-left: 2vh;

} */

.navicontoll
{
display: flex;
justify-content: end;
width:23vh;
visibility: hidden;

}
.naviconend
{
display: flex;
justify-content: end;
width:5vh;
visibility: hidden;


}
    

}
